html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

footer {
	background: rgba(0, 0, 0, .8);
	bottom: 0;
    color: #FFF;
	font-weight: 100;
	padding: 4rem;
	position: absolute;
	text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
	width: 100%;
	z-index: 9999;
}

h1 {
	display: block;
	font-weight: 100;
	margin: 0;
    opacity: .8;
	width: 100%;
}

#routes {
	height: 3em;
	margin-top: 0.5em;
}